
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row flex-lg-row">
        <div class="col-lg-12">
            <div class="blog">
                <div class="row" id="blogList"></div>
            </div>
        </div>

    </div>
</div>

<script src="/js/Home/Blog.js"></script>