
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}


<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="app-user-list">
                <div class="card">
                    <div class="card-datatable table-responsive pt-0">
                        <table class="user-list-table table" id="datatables">
                            <thead class="thead-light">
                                <tr>

                                    <th>Order No</th>
                                    <th>User</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Address</th>
                            
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="orderList"></tbody>

                        </table>
                    </div>

                </div>
                <!-- list section end -->
            </section>

        </div>
    </div>
</div>
<!-- END: Content-->

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<script src="/js/orders.js"></script>